<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Page title
    link(rel="stylesheet", href="/node_modules/normalize.css/normalize.css")
    link(rel="stylesheet", href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css")
    link(rel="stylesheet", href="/src/dist/css/style.min.css")
  body

    header.row
      section.container
        .row
          .logo logo
          .row
            a(href="tel:+74999999999" class="phone.row")
              span.fas.fa-phone-alt
              span.phone__number 8 499 999 99 99
            .social
            .burger

    section.top
      .container
        h1 lorem ipsum dolor sit amet

        section.row
          p
            strong lorem
          p ipsum dolor sit amet

        ul
          li.row
            img(src="", alt="")
            mark Lorem ipsum dol
          li.row
            img(src="", alt="")
            span lorem ipsum 
          li.row
            img(src="", alt="")
            span lorem ipsum dolor sit amet
          li.row
            img(src="", alt="")
            span lorem ipsum

        button lorem ipsum dolor

    main
      .container
        h2 второй блок

        section.row
          .left-block
            h3 лоремова
            h4 ипсума анатольевна
            small lorem ipsum dolor

            ul
              li lorem ipsum dolor lorem ipsum dolor
              li lorem ipsum dolor
              li lorem ipsum dolor lorem ipsum dolor lorem ipsum dolorlorem ipsum dolor
              li lorem ipsum dolor
              li lorem ipsum dolor
              li lorem ipsum dolor

            article
              h5 lorem ipsum dolor
              p.
                lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum 
                dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem 
                ipsum dolorlorem ipsum dolorlorem ipsum dolor

            article
              h5 lorem ipsum dolor
              p.
                lorem ipsum dolor lorem ipsum dolor

          .right-block
            img.user-photo(src="", alt="")

      section
        .row
          span.fas.fa-arrow-left
          span 1 из 5
          span.fas.fa-arrow-right

    section
      .container
        h2 третий блок

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

        section
          figure
            img(src="", alt="")
            figcaption
              h5 lorem ipsum dolor sit amet.
              p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin in nulla interdum felis placerat vulputate.

    footer
      .container

    script(src="src/dist/js/main.min.js" type="module")